{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}
{% block body %}
<canvas height="600" width="800" style="background-color: blue;" id="gamec"></canvas>
<button id="name">{{name}}</button>
<button id="name" style="display: none;">{{name}}</button>
<div class="container justify-content-center" id="game_buttons">
    <button class="button" type="button" id="energy" disabled>Energy<br>0</button>
    <button class="button" type="button" id="flyingLvl" disabled>Flying<br>Lvl 0</button>
    <button class="button" type="button" id="race">Enter<br>Race</button>
    <button class="button" type="button" id ="running">Train<br>Running</button>
    <button class="button" type="button" id="shop">Enter<br>Shop</button>
    <br>
    <button class="button" type="button" id="runningLvl" disabled>Running<br>Lvl 0</button>
    <button class="button" type="button" id="swimmingLvl" disabled>Swimming<br>Lvl 0</button>
    <button class="button" type="button" id="flying">Train<br>Flying</button>
    <button class="button" type="button" id="swimming">Train<br>Swimming</button>
    <button class="button" type="button" id="temp">Temp</button>
</div>
<script>
    var cname = '{{name}}';
    var cskin = '{{skin}}';
</script>
<script type="module" src="{{url_for('static', filename='js/Duck.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}
