{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}
{% block body %}
<canvas height="600" width="600" id="gamec"></canvas>
<button id="name">{{name}}</button>
<button id="name" style="display: none;">{{name}}</button>
<script>
    var cname = '{{name}}';
    var cskin = '{{skin}}';
</script>
<script type="module" src="{{url_for('static', filename='js/Duck.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}