{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
  #gameBounds{
    position:relative;
    right:10%;
    width:800px;
    height:600px;
  }
  #gamec{
    position:absolute;
    top:70px;
  }
  #game_buttons{
    position:absolute;
    text-align:center;
    top:90px;
    left:65px;
  }
  #score{
    position:absolute;
    top:80px;
    right:40px;
    font-size:100px;
    color:black;
  }
  #coins{
    position:absolute;
    top:80px;
    right:290px;
    font-size:50px;
    color:#efcc00;
  }
  .button{
    background:gray;
    border:0;
    text-align:center;
    width:125px;
    height:60px;
    margin:5px;
    color:white;
    opacity:0.75;
  }
  form{
    display:inline;
  }
  #race_buttons{
    position:absolute;
    text-align:center;
    top:90px;
    left:125px;
  }
  #raceText{
    color:white;
  }

  #staminaButton{
    position:absolute;
    text-align:center;
    top:300px;
    left:180px;
  }
  #backButton{
    position:absolute;
    text-align:center;
    top:520px;
    right:280px;
  }
  .shoptext{
    position:absolute;
    text-align:center;
    top:90px;
    left:180px;
    color:white;
    font-size:20px;
  }

  .btn{
    background:gray;
    border:0;
    text-align:center;
    border-radius:0px;
    width:150px;
    height:75px;
    margin:20px;
    color:white;
    opacity:0.75;
  }
  .btn:hover {
    color:white;
    box-shadow:none;
  }
  #standings{
    position:absolute;
    text-align:center;
    top:90px;
    left:325px;
    color:white;
    font-size:20px;
  }
  #endTraining{
    position:absolute;
    text-align:center;
    top:90px;
    left:180px;
    color:white;
    font-size:20px;
  }
  #controls{
    position:absolute;
    left:80%;
    top:90px;
    width:300px;
    text-align:left;
    color:black;
    font-size:20px;
  }
  .wrapper{
    width:1100px;
    margin:0 auto;
    position:relative;
  }
</style>
{% endblock %}
{% block body %}
<div class="wrapper">
  <div class="container-fluid" id="gameBounds">
    <canvas height="600" width="800" style="background-color: blue;" id="gamec"></canvas>
    <button id="name">{{name}}</button>
    <button id="name" style="display: none;">{{name}}</button>
    <div id="game_buttons">
        <button class="button" type="button" id="energy" disabled>Energy<br>0</button>
        <button class="button" type="button" id="flyingLvl" disabled>Flying<br>Lvl 0</button>
        <button class="button" type="button" id="race">Enter<br>Race</button>
        <button class="button" type="button" id ="running">Train<br>Running</button>
        <button class="button" type="button" id="shop">Enter<br>Shop</button>
        <br>
        <button class="button" type="button" id="runningLvl" disabled>Running<br>Lvl 0</button>
        <button class="button" type="button" id="swimmingLvl" disabled>Swimming<br>Lvl 0</button>
        <button class="button" type="button" id="flying">Train<br>Flying</button>
        <button class="button" type="button" id="swimming">Train<br>Swimming</button>
        <form action="/profile" method="POST">
          <button class="button" type="submit" id="profile">View<br>Profile</button>
        </form>
        <button class="button" type="button" id="save">save</button>
    </div>
    <p id="score" unselectable="on" hidden="hidden"></p>
    <div id="race_buttons" hidden="hidden">
      <h1 id="raceText">Races</h1>
        <button class="btn" type="button" id="running1">Running<br>Race 1</button>
        <button class="btn" type="button" id="running2">Running<br>Race 2</button>
        <button class="btn" type="button" id="running3">Running<br>Race 3</button>
        <br>
        <button class="btn" type="button" id="swimming1">Swimming<br>Race 1</button>
        <button class="btn" type="button" id="swimming2">Swimming<br>Race 2</button>
        <button class="btn" type="button" id="swimming3">Swimming<br>Race 3</button>
        <br>
        <button class="btn" type="button" id="flying1">Flying<br>Race 1</button>
        <button class="btn" type="button" id="flying2">Flying<br>Race 2</button>
        <button class="btn" type="button" id="flying3">Flying<br>Race 3</button>
        <br>
        <button class="btn" type="button" id="closeRaceMenu">Back</button>
    </div>
    <div id="standings" hidden="hidden">
      <h1>Results</h1>
      <h1 id="1st"></h1>
      <h1 id="2nd"></h1>
      <h1 id="3rd"></h1>
      <h1 id="4th"></h1>
      <button class="button" id="endRace">Back</button>
    </div>
    <div id="endTraining" hidden="hidden">
      <h1 id="endScore"></h1>
      <br>
      <h1 id="levelChange"></h1>
      <br>
      <button class="btn" type="button" id="stopTraining">Exit</button>
      <button class="btn" type="button" id="retryTraining">Retry</button>
    </div>
  </div>
  <div id="controls">
    <p id="generalControls">
      Train your ducky in various skills (running, swimming, and flying) to prepare for race.<br>
      Click any of the training buttons to get started!<br><br>

      Enter the shop to buy food to give your ducky energy for races.<br>
      When you feel confident enough, test your ducky's skills in a race!
    </p>
    <div id="runningControls" hidden="hidden">
      <h2>Running Training</h2>
      <p>Dodge the incoming boulders by jumping over them! <br>
        Try to collect the coins<br><br>
        Press the space bar to jump
      </p>
    </div>
    <div id="swimmingControls" hidden="hidden">
      <h2>Swimming Training</h2>
      <p>Avoid the obstacles<br>
        Try to collect the coins<br>
        Don't go off the screen!<br><br>
        Use the left and Right arrow keys to move sideways<br>
        Up Arrow to jump<br>
        Down Arrow to dive
      </p>
    </div>
    <div id="flyingControls" hidden="hidden">
      <h2>Flying Training</h2>
        <p>Collect the coins to keep up your speed<br><br>
        Use the up and down arrow keys to move accordingly
      </p>
    </div>
  </div>
  <!-- shop items -->
  <p id="coins" unselectable="on" hidden="hidden"></p>
  <button class="btn" type="button" id="staminaButton" hidden="hidden">Stamina: <br> 5 Coins Each</button>
  <button class="btn" type="button" id="backButton" hidden="hidden">Back to Menu</button>

  <p class="shoptext" id="bought" hidden="hidden"> Successfully bought item! </p>
  <p class="shoptext" id="notEnough" hidden="hidden"> Woah woah chief! You're missing a few coins there! </p>
</div>
<script>
    var cname = '{{name}}';
    var cskin = '{{skin}}';
</script>
<script type="module" src="{{url_for('static', filename='js/Duck.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/game.js')}}"></script>

{% endblock %}
