{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}
{% block body %}
  <h1> WELCOME! </h1>
  <br>
  <p1> In New York City, it is illegal to own ducks outside of farmlands. That’s why we bring the experience to you, from feeding your duck to increase its stamina to training it in running, swimming, and flying courses to boost its stats! Participate in randomly generated obstacle courses to increase your duck’s skill levels, then race with other computer-generated ducks to claim the Master Duck title. Coins you collect during obstacle courses and win during races can be used to buy food or cosmetics, such as hats and skins based off the developers’ duckies. It might be illegal to own ducks in New York, but modern problems have modern solutions!</p1>
  <br><br>

{% endblock %}
